@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --color_base: #191919;
  --color_pen: #fff;
  --size: 20vmin;
  --fog: calc(var(--size) / 1.2);
  --scale: 1.8;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Balsamiq Sans', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 4%;
  align-items: center;
  box-shadow: 0px 3px 2px 1px rgb(0 0 0 / 20%);
  z-index: 100;
  position: sticky;
  top: -7px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #212121;
  margin: 5px;
  font-size: 16px;
  text-shadow: 1px 1px rgb(0 0 0 / 20%);
}


.brd {
    border: 1px solid #212121;
    padding: 10px 20px;
}

.p-flex {
  display: flex;
}

.p-circle, .fog::after {
  border-radius: 50%;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

.halloctober__banner {
  position: relative;
  overflow: hidden;
  width: 25vw;
}

.typo {
  color: #333;
  cursor: default;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  /* margin: auto; */
  outline: none;
  position: relative;
  transform: skew(10deg, 2deg);
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}
.typo:hover + .fog {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.typo::before, .typo::after {
  color: transparent;
  content: "Mail API";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.typo::before {
  -webkit-animation: move_upper_shadow 2s ease-in-out infinite;
          animation: move_upper_shadow 2s ease-in-out infinite;
  opacity: 0;
  text-shadow: 6px 0 2px hsl(210deg 40% 52% / 40%), 12px 0 2px rgba(26, 35, 126, 0.3);
}
.typo::after {
  -webkit-animation: move_bottom_shadow 2s ease-in-out infinite;
          animation: move_bottom_shadow 2s ease-in-out infinite;
  text-shadow: 2px 4px 2px hsl(210deg 40% 52% / 40%), 4px 8px 2px rgba(26, 35, 126, 0.3);
}
@-webkit-keyframes move_upper_shadow {
  0%, 90%, 100% {
    opacity: 0;
    transform: translateX(-2%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move_upper_shadow {
  0%, 90%, 100% {
    opacity: 0;
    transform: translateX(-2%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move_bottom_shadow {
  0%, 90%, 100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  30% {
    opacity: 0;
    transform: translateY(-3.5%);
  }
}
@keyframes move_bottom_shadow {
  0%, 90%, 100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  30% {
    opacity: 0;
    transform: translateY(-3.5%);
  }
}
@-webkit-keyframes float {
  50% {
    transform: scaleY(1.01) skew(-10deg, -2deg);
  }
}
@keyframes float {
  50% {
    transform: scaleY(1.01) skew(-10deg, -2deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .typo {
    -webkit-animation: none;
            animation: none;
    transform: none;
  }
  .typo::before, .typo::after {
    -webkit-animation: none;
            animation: none;
  }
}
