<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>INR 1 = 100 calls</p>
    <input id="amountVal" type="text" placeholder="Enter Amount">
    <button id="rzp-button1">Pay</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      const amountEle = document.getElementById('amountVal');
      amountEle.addEventListener('change', () => {
        amountVal = amountEle.value;
        console.log(amountVal);

        var params = new URLSearchParams();
            params.append('amountVal', amountVal);

        axios.post("/dashboard/order", params, {
            "headers": {
              "content-type": "application/x-www-form-urlencoded",
            },
          }).then((info) => {
          console.log(info);

          var options = {
              "key": "<%= razorpayKEYID%>", // Enter the Key ID generated from the Dashboard
              "name": "<%= name%>",
              "description": "Test Transaction",
              // "image": "https://example.com/your_logo",
              "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
              "callback_url": "/dashboard/is-order-complete",
              "theme": {
                  "color": "#3399cc"
              }
          };
          var rzp1 = new Razorpay(options);
          document.getElementById('rzp-button1').onclick = function(e){
              rzp1.open();
              e.preventDefault();
          }

        });
      });
    </script>
  </body>
</html>
