<%- include("header") -%>

    <section class="sec1">
      <div class="heading">
        <h2>Now OTP verification is just a <br>single request away</h2>
      </div>
    </section>

  </body>
</html>
