<%- include("header") -%>

    <section class="sec1">
      <div class="heading">
        <h2>Now OTP verification is just a <br>single request away</h2>
        <img class="lanImg" src="https://static.vecteezy.com/system/resources/previews/002/076/446/large_2x/authentication-code-erp-illustration-isometric-style-vector.jpg" alt="">
      </div>
    </section>

  </body>
</html>
