<form class="" action="/auth/register" method="post">
  <h2>Register</h2>
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="username" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="button">Register</button>
</form>
<br><br>
<form class="" action="/auth/login" method="post">
  <h2>Login</h2>
  <input type="email" name="username" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="button">Login</button>
</form>

<br><br>

<a href="/auth/google">Continue with Google</a>

<a href="/auth/github">Continue with GitHub</a>
